@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&family=Luckiest+Guy&display=swap');

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    font-family: "Luckiest Guy", cursive;
    margin: 0;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bde1ff;
}
.text-box{
    line-height: 4rem;
}

.text-box span{
    font-size: 5rem;
    color:#4b527e;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

.text-box span:nth-child(1){
   letter-spacing: 106px;
}
.text-box span:nth-child(2){
    letter-spacing: 1px;
 }
.text-box span:nth-child(3){
    letter-spacing:52px;
}
.text-box span:nth-child(4){
    letter-spacing:66px;
}
.text-box span::first-letter{
    color: #20367e;
}